.u-section-1 .u-sheet-1 {
  min-height: 2410px;
}

.u-section-1 .u-group-1 {
  min-height: 262px;
  margin-top: 23px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-text-16{
  width: 481px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 705px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 4px;
}

.u-section-1 .u-image-1 {
  height: 392px;
  width: 327px;
  margin: 0 18px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 43px 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 705px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-group-2 {
  min-height: 645px;
  width: 354px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 8px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 26px 1px 0;
}

.u-section-1 .u-text-6 {
  margin: 18px 18px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 705px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 392px;
  width: 327px;
  margin: 0 23px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 43px 4px 0 2px;
}

.u-section-1 .u-text-8 {
  margin: 18px 4px 0 2px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 729px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 4px;
}

.u-section-1 .u-image-3 {
  height: 425px;
  width: 327px;
  margin: 0 18px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 43px 30px 0;
}

.u-section-1 .u-text-10 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 729px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 189px;
  width: 337px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 17px 21px 0 28px;
}

.u-section-1 .u-text-12 {
  margin: 18px 37px 0 28px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 729px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 426px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 43px 4px 0 2px;
}

.u-section-1 .u-text-14 {
  margin: 18px 4px 0 2px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 269px;
  margin-top: 0;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  width: 400px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    width: 306px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-1 .u-group-2 {
    width: 313px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 581px;
  }

  .u-section-1 .u-image-2 {
    height: 303px;
    width: 253px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 601px;
  }

  .u-section-1 .u-image-3 {
    height: 398px;
    width: 306px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 601px;
  }

  .u-section-1 .u-image-4 {
    height: 175px;
    width: 313px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 601px;
  }

  .u-section-1 .u-image-5 {
    height: 303px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
    width: 233px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 240px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 216px;
    width: 180px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
    width: 233px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 134px;
    width: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 638px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 638px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 399px;
  }

  .u-section-1 .u-image-3 {
    height: 399px;
  }

  .u-section-1 .u-text-16 {
    width: 320px;
  }
}




@media (max-width:680px) {

  .brnadidentityheader {
    padding-top: 17.45%;
  }
  
  #brandidentityimage{
    height: 168px;
  }

  .u-section-1 .u-text-5 {
   margin: 0px 0px 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 47px;
    height: 293px;
  } 

  .u-section-1 .u-group-2 {
    width: 333px;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
    width: 225px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-3 {
    height: 229px;
    width: 224px;
    margin-left: 49px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 0px 0;
  }

  .u-section-1 .u-text-11{
    margin: 38px 21px 0 28px;
  }

  .u-section-1 .u-image-5{
    height: 171px;
  }

  .lowerbodyBrandidentity  {
    height: 4613px !important;
  }

  .u-section-1 .u-text-16 {
    margin: 26px auto 0;
  }

}



@media ( max-width:860px ) and (min-width:680px) {

  #brandidentityimage{
    height: 323px;
  }

  .u-section-1 .u-group-2 {
    width: 231px;
    padding-left: 6%;
  }

  .u-section-1 .u-container-layout-7{
    padding: 30px 14px;
  }

  .u-section-1 .u-image-4 {
    height: 130px;
    width: 208px;
  }

  .lowerbodyBrandidentity{
    height: 2471px;
  }
  
}

