.u-section-1 .u-sheet-1 {
  min-height: 2617px;
}

.u-section-1 .u-group-1 {
  min-height: 431px;
  margin-top: 57px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 18px 815px 0 18px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 341px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -41px auto 0 18px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-2 {
  width: 512px;
  height: 341px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -41px auto 0 20px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px 28px;
}

.u-section-1 .u-image-3 {
  width: 512px;
  height: 341px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -41px auto 0 18px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px 29px;
}

.u-section-1 .u-image-4 {
  width: 512px;
  height: 341px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -41px auto 0 20px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 431px;
  height: auto;
  margin-top: -42px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 18px 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 58px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 802px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 29px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 1px auto 0;
  color: var(--primary);
}

.u-section-1 .u-image-5 {
  height: 512px;
  width: 512px;
  margin: 18px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 29px 1px 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 802px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 0 auto 0;
  color: var(--primary);
}

.u-section-1 .u-image-6 {
  height: 512px;
  width: 512px;
  margin: 18px 28px 0 auto;
}

.u-section-1 .u-text-14 {
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2598px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 633px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-image-1 {
    width: 413px;
    height: 275px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-image-2 {
    width: 413px;
    height: 275px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-image-3 {
    width: 413px;
    height: 275px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-image-4 {
    width: 413px;
    height: 275px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 661px;
  }

  .u-section-1 .u-image-5 {
    height: 412px;
    width: 412px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 661px;
  }

  .u-section-1 .u-image-6 {
    height: 410px;
    width: 410px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2035px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 413px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 202px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 303px;
    height: 202px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 303px;
    height: 202px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 303px;
    height: 202px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 302px;
    width: 302px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 273px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2131px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 73px;
  }
}

@media (max-width:680px) {

  .blendedslider {
    padding-top: 24%;
  }

  .u-section-1 .u-image-6 {
    margin-top: 6%;
    margin-left: 0px;
  }

  
  
}