.u-section-1 .u-sheet-1 {
  min-height: 1707px;
}

.u-section-1 .u-group-1 {
  min-height: 208px;
  margin-top: 8px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 9px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1003px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 28px;
}

.u-section-1 .u-image-1 {
  height: 585px;
  width: 455px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 22px auto 0 29px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1003px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 28px;
}

.u-section-1 .u-image-2 {
  height: 354px;
  width: 567px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 39px 31px 0;
}

.u-section-1 .u-image-3 {
  width: 575px;
  height: 310px;
  margin: 9px auto 0 23px;
}

.u-section-1 .u-group-2 {
  min-height: 179px;
  margin-top: -13px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 9px 1px 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 995px;
  margin: 9px auto 17px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  width: 212px;
  height: 201px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 9px;
}

.u-section-1 .u-image-5 {
  width: 203px;
  height: 198px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-image-6 {
  width: 209px;
  height: 198px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 9px;
}

.u-section-1 .u-image-7 {
  width: 213px;
  height: 200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1862px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 827px;
  }

  .u-section-1 .u-image-1 {
    height: 544px;
    width: 423px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 827px;
  }

  .u-section-1 .u-image-2 {
    height: 323px;
    width: 517px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 517px;
    height: 279px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 266px;
  }

  .u-section-1 .u-image-7 {
    height: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 417px;
    width: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 247px;
    width: 396px;
  }

  .u-section-1 .u-image-3 {
    width: 396px;
    height: 214px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3464px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 611px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2498px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 212px;
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 184px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 385px;
  }
}


@media ( max-width:680px )  {

  .blendedslider {
    padding-top: 22%;
  }

  .u-section-1 .u-text-3 {
    margin: 0px auto 0 7px;
  }

  .u-section-1 .u-text-4 {
    margin: 22px auto 0 8px;
  }

  .u-section-1 .u-text-5 {
    margin: 53px auto 0 1px;
  }

  .u-section-1 .u-layout-cell-3 ,.u-section-1 .u-layout-cell-4,.u-section-1 .u-layout-cell-5,.u-section-1 .u-layout-cell-6 {
    min-height: 270px;
  }

  .u-section-1 .u-image-4[data-v-3eb2b4bb] {
    width: 204px;
    margin: 9px 67px 0 auto;
  }

}


@media (max-width:860px) and (min-width:680px) {

  .u-section-1 .u-container-layout-3 {
    padding: 25px;
    padding-top: 0;
  }

.u-section-1 .u-image-2 {
    height: 203px;
    width: 340px;
  }

.u-section-1 .u-image-3{
    width: 318px;
    height: 195px;
  }

.u-section-1 .u-image-4 {
    width: 179px;
    height: 156px;
    margin: 9px 15px 0 auto;
  }

  .u-section-1 .u-image-5 , .u-section-1 .u-image-6 , .u-section-1 .u-image-7 {
    width: 165px;
    height: 143px;
    margin: 0 auto;
  }

  
}