.u-section-1 .u-sheet-1 {
  min-height: 1028px;
}

.headerimage{
  height: 771px;
}

.u-section-1 .u-group-1 {
  min-height: 259px;
  margin-top: 50px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1082px;
  height: 721px;
  margin: 3px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 47px auto 0 29px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-4 {
  margin: 0 1px;
}

.u-section-1 .u-image-2 {
  width: 226px;
  height: 141px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-color: var(--primary) !important;
  border-style: none;
  margin: 18px auto 0 0;
  padding: 5px 14px 6px 13px;
}

.u-section-1 .u-container-layout-7{
      background-color: var(--primary) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-image-3 {
  width: 226px;
  height: 141px;
  margin: 10px 29px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 18px auto 0 1px;
  padding: 5px 14px 6px 13px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 1px;
}

.u-section-1 .u-image-4 {
  width: 226px;
  height: 141px;
  margin: 10px 28px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: 18px auto 0 0;
  padding: 5px 14px 6px 13px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 1px;
}

.u-section-1 .u-image-5 {
  width: 226px;
  height: 141px;
  margin: 10px 28px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: 18px auto 0 0;
  padding: 5px 14px 6px 13px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-1 .u-image-6 {
  width: 322px;
  height: 120px;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 35px;
  height: auto;
  width: 321px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 322px;
  height: 120px;
  margin: 0 8px 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 35px;
  height: auto;
  width: 321px;
  margin: 0 -1px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 322px;
  height: 120px;
  margin: 0 8px 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 35px;
  height: auto;
  width: 321px;
  margin: 0 -1px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2376px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 626px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-1 .u-image-2 {
    width: 177px;
    height: 111px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-1 .u-image-3 {
    width: 177px;
    height: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 109px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 244px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 109px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 189px;
  }

  .u-section-1 .u-image-6 {
    width: 256px;
    height: 95px;
  }

  .u-section-1 .u-group-2 {
    width: 256px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 189px;
  }

  .u-section-1 .u-image-7 {
    width: 253px;
    height: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 256px;
    margin-top: 13px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 189px;
  }

  .u-section-1 .u-image-8 {
    width: 253px;
    height: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 256px;
    margin-top: 13px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 479px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 122px;
    height: 77px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 120px;
    height: 75px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    width: 120px;
    height: 75px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-1 .u-image-6 {
    width: 182px;
    height: 68px;
  }

  .u-section-1 .u-group-2 {
    width: 182px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-7 {
    width: 180px;
    height: 67px;
  }

  .u-section-1 .u-group-3 {
    width: 182px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-image-8 {
    width: 180px;
    height: 67px;
  }

  .u-section-1 .u-group-4 {
    width: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1935px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 359px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1802px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 358px;
  }
}

@media (max-width: 680px) {

  .u-section-1 .u-text-3 {
    margin: 33px auto 0 4px;
  }

}


@media (max-width:860px) and (min-width:680px) {

  #headerimage{
    height: 321px;
    margin-top: 9%;
  }

  .u-section-1 .u-image-2{
    width: 130px;
    height: 100px;
  }

  .u-section-1 .u-sheet-1{
    min-height: 1781px;
  }

}