.AdobeExperience{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.AdobeExperience h2,h5{
    color: var(--primary);
}
.middleimagesheading{
    font-size: 18px;
    text-align: center;
}
.middleimagesimg{
    height: 114px;
    margin-left: 16%;
}
.middleimages{
    margin-top: 1%;
    width: 70%;
    margin-left: 20.5%;
    margin-bottom: 1%;
}
.learningoppurtunitites{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.bgheading{
    background-color: #d6e0e9;
    text-align: center;
}
.learningoppurtunitites h5{
    text-align: center;
}
.learningoppurtunitites{
    padding-bottom: 2%;
    border-bottom: 0.1px solid rgba(116, 116, 116, 0.188);
}
.endvideosetion{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 4%;
}
.aboutcloudbody{
    line-height: 150%;
}
.endvideosetion h6{
    text-align: left;
    color: black;
}