 .u-section-1 {
  min-height: 3414px;
}

.u-section-1 .u-image-1 {
  height: 497px;
  padding-top: 4%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  min-height: 550px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/world-map-on-a-light-background-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 94px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 53px 37px 0;
}

.u-section-1 .u-image-3 {
  min-height: 626px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/pexels-fauxels-3184292.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 395px;
  min-height: 626px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-group-4 {
  min-height: 566px;
  width: 449px;
  height: auto;
  margin: 0 -91px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 63px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px 31px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 14px;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin: 15px 13px 0 14px;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 13px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 30px 0 auto;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 13px auto 0 86px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 0 1px;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 13px auto 0 86px;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin: 0 8px 0 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 13px 0 0 auto;
}

.u-section-1 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 71px auto 60px;
}

.u-section-1 .u-image-8 {
  min-height: 981px;
  background-image: url("images/pexels-polina-tankilevitch-3735654-e1603017133618.jpg");
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 54px;
  margin-top: 891px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-15 {
  margin: 0 auto;
}

.u-section-1 .u-image-9 {
  min-height: 981px;
  background-image: url("images/pexels-julian-beeschehansen-5393898.jpg");
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 54px;
  height: auto;
  margin-top: 891px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-16 {
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 3238px;
  }

  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-text-8 {
    margin-left: 67px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 493px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-text-11 {
    margin-left: 67px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 493px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 30px;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-text-13 {
    margin-right: 13px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-image-8 {
    min-height: 809px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-image-9 {
    min-height: 809px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 46px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 46px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-image-8 {
    min-height: 620px;
  }

  .u-section-1 .u-image-9 {
    min-height: 620px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4043px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-image-8 {
    min-height: 930px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    min-height: 930px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3355px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-image-8 {
    min-height: 586px;
  }

  .u-section-1 .u-image-9 {
    min-height: 586px;
  }
}

@media (max-width:680px) {

  .u-section-1 .u-image-1 {
    height: 161px;
    padding-top: 0%;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin: 0px auto 0;
  }

  .u-section-1 .u-text-2 {
    margin: 22px 0px 0;
    font-size: 15px;
  }

  .u-section-1 .u-text-5 {
    margin: 13px 0 0 0px;
  }

  .u-section-1 .u-text-4{
    margin-left: 0px; 
  }

  .u-section-1 .u-text-3 {
    margin: 0 auto 0 0px;
  }
  
  .u-section-1 .u-text-6 {
    margin: 0 30px 0 0px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0px;
  }

  .u-section-1 .u-text-14{
    margin-left: 0px;
  }
  
}