.u-section-1 .u-sheet-1 {
  min-height: 1740px;
}

.u-section-1 .u-group-1 {
  min-height: 307px;
  margin-top: 58px;
  margin-bottom: 0;
  height: auto;
}
.packagesComparison {
 
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #fafafa;
  
}

.snip1214 .plan-price {
  font-weight: 800;
  font-size: 1.4em;
}


.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 190px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 41px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  width: 190px;
  margin: 15px 18px 0;
}

.u-section-1 .u-text-6 {
  margin: 41px 9px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-1 .u-image-3 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  width: 190px;
  margin: 15px 19px 0;
}

.u-section-1 .u-text-8 {
  margin: 41px 1px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  width: 190px;
  margin: 15px 18px 0;
}

.u-section-1 .u-text-10 {
  margin: 17px 0 0 5px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 45px;
  margin-bottom: 34px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 820px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin: 41px 1px 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 820px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 510px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin: 41px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1712px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1 .u-text-5 {
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 393px;
  }

  .u-section-1 .u-text-7 {
    width: 177px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 393px;
  }

  .u-section-1 .u-text-9 {
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 676px;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 676px;
  }

  .u-section-1 .u-image-6 {
    height: 410px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 135px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    width: 120px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    width: 122px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    width: 120px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 300px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2074px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 520px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1776px;
  }

  .u-section-1 .u-image-6 {
    height: 320px;
    margin-left: initial;
  }
}