.u-section-1 .u-sheet-1 {
  min-height: 4633px;
}

.u-section-1 .u-group-1 {
  min-height: 332px;
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0 23px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 726px;
  margin-top: 14px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -641px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1040px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  height: 321px;
  width: 321px;
  margin: 10px 33px 0 27px;
}

.u-section-1 .u-text-5 {
  margin: 25px 28px 0 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1040px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1040px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 32px 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 62px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.625rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 279px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 14px;
}

.u-section-1 .u-image-4 {
  width: 113px;
  height: 113px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 279px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 28px;
}

.u-section-1 .u-image-5 {
  width: 113px;
  height: 113px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 279px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 23px auto 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 279px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 279px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  width: 124px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: -25px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 381px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 29px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 0 auto 0 185px;
}

.u-section-1 .u-text-17 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 381px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: -39px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-14 {
  padding: 27px 29px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  margin: 14px auto 0 0;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 154px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-16 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-25 {
  margin: 10px 0 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1108px;
  margin: 22px auto 0 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-text-26 {
  margin: 30px auto 0 28px;
}

.u-section-1 .u-text-27 {
  margin: 11px 0 0 27px;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 0;
}

.u-section-1 .u-text-28 {
  margin: 0 auto 0 31px;
}

.u-section-1 .u-text-29 {
  margin: 11px 8px 0 31px;
}

.u-section-1 .u-layout-wrap-6 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 811px;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 28px 29px;
}

.u-section-1 .u-text-30 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-31 {
  margin: 33px 1px 0;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 811px;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.375rem;
  width: 329px;
  margin: 0 auto;
}

.u-section-1 .u-group-5 {
  min-height: 303px;
  width: 512px;
  height: auto;
  margin: 11px 28px 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-text-33 {
  margin: 22px 30px 0 27px;
}

.u-section-1 .u-group-6 {
  width: 597px;
  min-height: 625px;
  height: auto;
  margin: 30px auto 60px 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3261px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 858px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
    width: 313px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 858px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 858px;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 230px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 55px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 230px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 55px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 230px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 55px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 230px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 42px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 314px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 149px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 314px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 329px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 340px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 340px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 669px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 669px;
  }

  .u-section-1 .u-group-5 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
    width: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 38px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 38px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 38px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-image-8 {
    width: 84px;
    height: 84px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 28px;
    width: 84px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 109px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-1 .u-group-5 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3234px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2686px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 67px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }
}

@media (max-width:680px) {

  .blendedslider {
    padding-top: 29%;
  }

  .u-section-1 .u-group-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-12, .u-section-1 .u-text-13, .u-section-1 .u-text-14 {
    margin-left: 109px !important;
    text-align: center;
  }

  .u-section-1 .u-text-15 {
    margin-left: 115px !important;
    text-align: center;
  }

  .u-section-1 .u-text-16{
    margin-left: 88px;
  }

  #loyatyprogramowerbody {
    width: 90%;
  }

  .u-section-1 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
  }

  #loyaltyprogramvideo{
    height: 193px !important;
    margin-top: 17%;
  }

  .sendmessage {
    margin-left: 49%;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 6px;
    padding-right: 392px;
  }
  
}


@media (max-width:860px) and (min-width:680px) {

  #loyaltyprogramvideo{
    height: 208px !important;
    margin-top: 6%;
  }
  
}