.ourbusinessdiv {
    height: 800px;
    padding-top: 11%;
    text-align: center;
    background-color: #fafafa;
}

.businessdivtext{
    font-size: 15px;
    font-weight: 300;
}
.businessdivheading {
    font-size: 36px;
    color: var(--primary);
    font-weight: 900;
}
.businessmodeldiv {
    height: 90%;
    padding-left: 1%;
    padding-right: 1%;
    background: url("../../../../public/backgrounds/our-business-model.jpg");
    background-position-x: -45px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.businessmodeldiv:hover {
    background-position-x: -11px;
}

.businessdivheading{
    padding-top: 5%;
}
.businessdivheading{
    padding-top: 5%;
}
.ourbusinesssidedives {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
}