.redbuttontext{
    color: white;
    padding: 13px;
    border: 0.3s solid black;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--red) !important;
    border: 0.1px solid var(--primary) !important;
}