.u-section-1 .u-sheet-1 {
  min-height: 2631px;
}

.u-section-1 .u-group-1 {
  min-height: 236px;
  margin-top: 37px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 130px;
  margin: 15px 5px 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-image-2 {
  height: 130px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-3 {
  height: 130px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-4 {
  height: 130px;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin: 24px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 933px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-5 {
  height: 429px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  margin: 37px auto 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 933px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-6 {
  height: 429px;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  margin: 37px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 30px auto 0;
}

.u-section-1 .u-image-7 {
  height: 760px;
  margin-top: 37px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2387px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-1 .u-image-2 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 376px;
  }

  .u-section-1 .u-image-3 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 376px;
  }

  .u-section-1 .u-image-4 {
    height: 101px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 769px;
  }

  .u-section-1 .u-image-5 {
    height: 345px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 769px;
  }

  .u-section-1 .u-image-6 {
    height: 345px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 69px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 69px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 69px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 252px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 252px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 299px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 299px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 299px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 437px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 437px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 184px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 184px;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 184px;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    height: 269px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    height: 269px;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }
}

@media (max-width:680px) {

  .blendedslider {
    padding-top: 20%;
  }
  
}