.spantanicbanner{
    background: url("../../../public/images/mountains-scaled.jpg");
    background-position: -24px -65px;
    padding-top: 5%;
    height: 703px !important;
    text-align: center;
    font-size: 151px;
}

// .spantanicbanner h5{
//     padding-top: 3%;
//     FONT-SIZE: 160px;
//     color: black;
//     font-weight: 900;
// }

.spantacniclower{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.bluelinktag{
    color: var(--primary);
}
.bluelinktaga, .bluelinktaga:hover{
    color: var(--primary);
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid  var(--primary) !important;
}

.timeline-marker:before {
    background: var(--primary) !important;
}

.timeline-title{
    font-size: 18px;
    font-weight: 600;
}

#timelinediv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Raleway', sans-serif !important;
}
.videosectionspantanic{
    height: 600px;
    background-position-y: 15px !important;
    background: url("../../../public/images/spantik_new.png");
    background-attachment: fixed;
    padding-top: 15%;
}
.videoclickiconspantanic{
    margin-left: 48.2%;
}

@media (max-width : 680px) {
       
.spantanicbanner {
    padding-top: 33%;  
}

.videosectionspantanic {
    padding-top: 70%;
}

}


@media (max-width:860px) and ( min-width:680px ) {

    .videosectionspantanic {
        padding-top: 33%;
    }

    .spantanicbanner {
        padding-top: 20%;
    }
    
}


.spantiktext {
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, rgb(0, 0, 0), transparent, transparent);
              -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 3%;
  FONT-SIZE: 160px;
  font-weight: 900;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px rgb(59, 59, 59);
    }
  }
}  