.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 366px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.625rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 366px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 482px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  margin: 22px auto 0 17px;
}

.u-section-1 .u-text-4 {
  margin: 12px 17px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 482px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-image-2 {
  height: 181px;
  width: 181px;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  width: 181px;
  height: 180px;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 482px;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.625rem;
  margin: 44px auto 0 27px;
}

.u-section-1 .u-text-6 {
  margin: 13px 27px 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1077px;
  margin: 11px auto 60px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-6 {
  padding: 29px 30px;
}

.u-section-1 .u-image-4 {
  width: 533px;
  height: 533px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 592px;
}

.u-section-1 .u-container-layout-7 {
  padding: 19px 30px;
}

.u-section-1 .u-image-5 {
  width: 159px;
  height: 224px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 397px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 397px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: -14px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 517px;
  }

  .u-section-1 .u-image-4 {
    width: 410px;
    height: 410px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 517px;
  }

  .u-section-1 .u-image-5 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 304px;
  }

  .u-section-1 .u-image-2 {
    height: 137px;
    width: 137px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 137px;
    height: 136px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 396px;
  }

  .u-section-1 .u-image-4 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3379px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1052px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 594px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 594px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2335px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 662px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 374px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 374px;
  }
}


@media (max-width : 680px) {

  .blendedslider {
    padding-top: 21%;
  }
  
  .u-section-1 .u-layout-cell-4[data-v-2cc531ad] {
    min-height: 305px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5[data-v-2cc531ad] {
    font-size: 1.625rem;
    margin: 43px auto 0 0px;
  }
  
}
