.u-section-1 .u-sheet-1 {
  min-height: 4511px;
}

.u-section-1 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 79px auto 0 358px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 26px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 29px 30px 0 91px;
}

.u-section-1 .u-image-1 {
  width: 51px;
  height: 51px;
  margin: -75px auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 33px 29px 0 92px;
}

.u-section-1 .u-image-2 {
  width: 51px;
  height: 51px;
  margin: -51px auto 0 30px;
}

.u-section-1 .u-text-6 {
  margin: 15px 30px 0 91px;
}

.u-section-1 .u-image-3 {
  width: 51px;
  height: 51px;
  margin: -50px auto 0 30px;
}

.u-section-1 .u-text-7 {
  margin: 22px 30px 0 91px;
}

.u-section-1 .u-image-4 {
  width: 51px;
  height: 51px;
  margin: -75px auto 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto 0 27px;
}

.u-section-1 .u-group-1 {
  width: 516px;
  min-height: 69px;
  height: auto;
  margin: 30px 27px 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-9 {
  margin: 0;
}

.u-section-1 .u-group-2 {
  min-height: 72px;
  height: auto;
  width: 516px;
  margin: 15px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-10 {
  margin: 0;
}

.u-section-1 .u-group-3 {
  min-height: 72px;
  height: auto;
  width: 516px;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-group-4 {
  min-height: 72px;
  height: auto;
  width: 516px;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-12 {
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 35px 769px 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1068px;
  margin: 54px auto 0 36px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 166px;
  height: 166px;
  margin: 0 auto -1px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-image-6 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-1 .u-image-7 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-image-8 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1068px;
  margin: 66px auto 0 36px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-image-9 {
  width: 166px;
  height: 166px;
  margin: 0 auto -1px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-1 .u-image-10 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-1 .u-image-11 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 173px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-image-12 {
  width: 166px;
  height: 166px;
  margin: 0 auto;
}

.u-section-1 .u-image-13 {
  width: 857px;
  height: 443px;
  margin: 57px auto 0 142px;
}

.u-section-1 .u-layout-wrap-4 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-15 {
  line-height: 2;
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-text-16 {
  line-height: 2;
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-18 {
  line-height: 2;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1140px;
  margin: 26px auto 0;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-14 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-image-15 {
  height: 195px;
  margin-top: 0;
  margin-bottom: -1px;
}

.u-section-1 .u-layout-wrap-6 {
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px 26px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-17 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  margin: 0;
}

.u-section-1 .u-layout-cell-18 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-text-21 {
  margin: 0;
}

.u-section-1 .u-layout-cell-19 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-text-22 {
  margin: 0;
}

.u-section-1 .u-layout-wrap-7 {
  width: 1140px;
  margin: -720px -1219px 0 auto;
}

.u-section-1 .u-layout-cell-20 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-image-16 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-21 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-image-17 {
  height: 195px;
  margin-top: 0;
  margin-bottom: -1px;
}

.u-section-1 .u-layout-wrap-8 {
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-1 .u-layout-cell-22 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-section-1 .u-image-18 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-23 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-27 {
  padding: 0;
}

.u-section-1 .u-image-19 {
  height: 195px;
  margin-top: 0;
  margin-bottom: -1px;
}

.u-section-1 .u-layout-wrap-9 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-24 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-28 {
  padding: 30px 26px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-25 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-29 {
  padding: 30px;
}

.u-section-1 .u-text-24 {
  margin: 0;
}

.u-section-1 .u-layout-cell-26 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-30 {
  padding: 30px;
}

.u-section-1 .u-text-25 {
  margin: 0;
}

.u-section-1 .u-layout-cell-27 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-31 {
  padding: 30px;
}

.u-section-1 .u-text-26 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4913px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 699px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 152px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 160px;
  }

  .u-section-1 .u-image-14 {
    height: 151px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 160px;
  }

  .u-section-1 .u-image-15 {
    height: 161px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 833px;
  }

  .u-section-1 .u-layout-wrap-7 {
    margin-right: -1119px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 160px;
  }

  .u-section-1 .u-image-18 {
    height: 151px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 160px;
  }

  .u-section-1 .u-image-19 {
    height: 161px;
  }

  .u-section-1 .u-layout-cell-24 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-25 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-26 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-27 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3486px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-group-2 {
    width: 360px;
  }

  .u-section-1 .u-group-3 {
    width: 360px;
  }

  .u-section-1 .u-group-4 {
    width: 360px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 589px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 116px;
  }

  .u-section-1 .u-image-13 {
    width: 720px;
    height: 372px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 123px;
  }

  .u-section-1 .u-image-14 {
    height: 116px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 123px;
  }

  .u-section-1 .u-image-15 {
    height: 123px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-7 {
    margin-right: -1009px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 123px;
  }

  .u-section-1 .u-image-18 {
    height: 116px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 123px;
  }

  .u-section-1 .u-image-19 {
    height: 123px;
  }

  .u-section-1 .u-layout-cell-24 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-25 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-26 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-27 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6925px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 499px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    width: 540px;
    height: 279px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 185px;
  }

  .u-section-1 .u-image-14 {
    height: 174px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 185px;
  }

  .u-section-1 .u-image-15 {
    height: 185px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-7 {
    margin-right: -919px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 388px;
  }

  .u-section-1 .u-image-16 {
    height: 366px;
  }

  .u-section-1 .u-layout-cell-21 {
    min-height: 388px;
  }

  .u-section-1 .u-image-17 {
    height: 390px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 185px;
  }

  .u-section-1 .u-image-18 {
    height: 174px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 185px;
  }

  .u-section-1 .u-image-19 {
    height: 185px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5772px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 219px;
  }

  .u-section-1 .u-image-13 {
    width: 340px;
    height: 176px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 116px;
  }

  .u-section-1 .u-image-14 {
    height: 110px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 116px;
  }

  .u-section-1 .u-image-15 {
    height: 116px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-wrap-7 {
    margin-right: -819px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 116px;
  }

  .u-section-1 .u-image-18 {
    height: 110px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 116px;
  }

  .u-section-1 .u-image-19 {
    height: 116px;
  }
}

@media (max-width:680px) {

  .u-section-1 .u-text-2 {
    margin-left: 0px;
    margin-right: 0px; 
  }
  
  .u-section-1 .u-text-2 {
   margin-left: 0px;
   margin-right: 0px;
  }

  .u-section-1 .u-text-1 {
    margin: 0px;
    margin-top: 8%; 
  }

  .u-section-1 .u-image-1 {
    width: 51px;
    height: 51px;
    margin: -103px auto 0 1px;
  }

  .u-section-1 .u-text-4{
    margin-left: 61px;
  }

  .u-section-1 .u-text-5 , .u-section-1 .u-text-6, .u-section-1 .u-text-7{
    margin-left: 61px;
    margin-top: 20%;
  } 

  .u-section-1 .u-image-2 , .u-section-1 .u-image-3, .u-section-1 .u-image-4{
    margin: -102px auto 0 0px;
  }

  .u-section-1 .u-text-3{
    margin: 0px auto 38px 30px;
  }

  .u-section-1 .u-group-1{
    margin: 30px 0px 0px;
  }

  .u-section-1 .u-container-layout-2{
    margin-top: 5%;
    padding: 43px 0;
  }

  .u-section-1 .u-text-9{
    margin-bottom: 4%;
  }

  .u-section-1 .u-text-8{
    margin: 0 auto 0 0px;
  }

  .u-section-1 .u-text-13{
    margin: 0px ; 
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: 0px;
  }

  .u-section-1 .u-layout-wrap-3{
    margin-left: 0px ; 
  } 
  
  .u-section-1 .u-image-13 {
    margin-left: 0px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-left: 0px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 0px;
  }

  .u-section-1 .u-container-layout-16 {
   padding: 0px;
  }

  .u-section-1 .u-layout-wrap-5{
    margin-left: 0px; 
  }

  .u-section-1 .u-layout-wrap-6{
    width: 340px;
    margin-left: 0px;
  }

  .u-section-1 .u-layout-wrap-8 {
    margin-left: 0px;
  }

  .learningdevelopmentupper {
    text-align: center;
    padding-top: 44%;
    color: white;
    height: 401px;
    background-size: cover;
    background-position-x: -290px;
  }

}



@media ( max-width : 860px ) and ( min-width : 680px ) {

  .learningdevelopmentupper {
    text-align: center;
    padding-top: 29%;
    background-size: cover;
    color: white;
    height: 559px;
    background-position-x: -290px;
  }

  .u-section-1 .u-text-2 {
     margin-left:0 ;
     margin-right:0 ;
  }

  .u-section-1 .u-text-1 {
    margin: 46px auto 0 165px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0px;
    margin-left: 0px;
  } 

  .u-section-1 .u-text-8 {
    margin: 0 auto 0 0px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin: 0 auto 0 2px;
  }

  .u-layout-row > .u-size-30 {
    padding-right: 3%;
  }

  .u-section-1 .u-image-1, .u-section-1 .u-image-2, .u-section-1 .u-image-3, .u-section-1 .u-image-4 {
    margin: -102px auto 0 -2px;
  }

  .u-section-1 .u-text-4, .u-section-1 .u-text-5, .u-section-1 .u-text-6, .u-section-1 .u-text-7 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-5, .u-section-1 .u-text-6, .u-section-1 .u-text-7 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 69px;
  }

  .u-section-1 .u-layout-wrap-2, .u-section-1 .u-layout-wrap-3 {
    margin-left: 0px;
  }

  .u-section-1 .u-image-13{
    margin-left: 0px; 
  } 

  .u-section-1 .u-layout-wrap-4, .u-section-1 .u-layout-wrap-5, .u-section-1 .u-layout-wrap-6,.u-section-1 .u-layout-wrap-8 {
    margin-left: 0px;
  }
 
}