.learningdevelopmentupper{

    background-image: url( "../../../../public/images/BGDAcademy.jpg");
    text-align: center;
    padding-top: 21%;
    color: white;
    height: 793px;
    background-position-x: -290px;

}

.learningdevelopmentupper h2{

    font-size: 61px;
    
} 

.learningdevelopmentbody{
    padding-top: 3.49%;
}