.u-section-1 .u-sheet-1 {
  min-height: 2007px;
}

.u-section-1 .u-group-1 {
  min-height: 1322px;
  margin-top: 34px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 0 auto 0;
}

.u-section-1 .u-image-1 {
  height: 689px;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 46px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 278px;
  width: 500px;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 41px;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  height: 278px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  min-height: 42px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-1 .u-text-4 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 13px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 13px auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 13px auto 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 13px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2467px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 568px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-1 .u-image-2 {
    height: 262px;
    width: 470px;
  }

  .u-section-1 .u-group-2 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-image-3 {
    height: 224px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 124px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 124px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 124px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-1 .u-image-1 {
    height: 435px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    width: 360px;
  }

  .u-section-1 .u-group-2 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 164px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2305px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 205px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 175px;
  }
}

@media (max-width:680px) {

  .blendedslider {
    padding-top: 18%;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin: 35px auto 0;
    text-align: center;
  }
  
  .u-section-1 .u-text-6 {
    margin: 13px auto 2px 68px;
  }

  .u-section-1 .u-text-7, .u-section-1 .u-text-9 {
    margin: 13px auto 0 82px;
  }

  .u-section-1 .u-text-8 {
    margin: 13px auto 0 92px;
  }

  .u-section-1 .u-icon-1 , .u-section-1 .u-icon-2 ,.u-section-1 .u-icon-3 ,.u-section-1 .u-icon-4 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0px 126px;
  }

}


@media (max-width:860px) {
 
  .u-section-1 .u-sheet-1 {
    min-height: 1902px;
  }
  
}