.websitebody{
    scroll-behavior: smooth !important;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Raleway', sans-serif !important;
    width: 100%;
}

.boldtextlink{
    color: var(--primary);
}

*{
    font-family: 'Raleway', sans-serif !important;
    scroll-behavior: smooth !important;
}

:root {
    --primary: #0197f6;
    --secondary: #1f272f;
    --bglight:#fafafa;
    --dblue:#012547;
    --red:#de2036;
  }
