.u-section-1 .u-sheet-1 {
  min-height: 2906px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

#aboutusicon{
  font-size: 37px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.5;
  margin: 17px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 524px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 15px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 52px;
  margin-bottom: -7px;
}

.u-section-1 .u-text-3 {
  margin: 27px auto 0 30px;
}

.u-section-1 .u-text-4 {
  line-height: 1.26;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1095px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-5 {
  margin: 10px auto 0;
}

.u-section-1 .u-image-2 {
  height: 161px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 0 15px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0;
}

.u-section-1 .u-image-3 {
  height: 161px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1095px;
  margin: 23px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 217px;
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 7px;
}

.u-section-1 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: -31px auto 0 52px;
}

.u-section-1 .u-text-10 {
  background-image: none;
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 217px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 7px;
}

.u-section-1 .u-icon-2 {
  width: 37px;
  height: 37px;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -31px auto 0 52px;
}

.u-section-1 .u-text-12 {
  background-image: none;
  margin: 16px 23px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 217px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 7px;
}

.u-section-1 .u-text-13 {
  margin: 15px auto 0 52px;
}

.u-section-1 .u-icon-3 {
  width: 37px;
  height: 37px;
  margin: -31px auto 0 1px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  background-image: none;
  margin: 10px 23px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-4 {
  width: 1080px;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 23px;
}

.u-section-1 .u-icon-4 {
  width: 63px;
  height: 63px;
  margin: 39px auto 0 50px;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 62px;
  height: 62px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px 18px 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 19px;
}

.u-section-1 .u-icon-6 {
  width: 62px;
  height: 62px;
  margin: 39px auto 0 52px;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 23px 5px 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-icon-7 {
  width: 63px;
  height: 63px;
  margin: 38px auto 0;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 24px 3px 0;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 27px 1px 0 18px;
}

.u-section-1 .u-text-21 {
  margin: 27px auto 60px;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1080px;
  margin: 39px auto 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-1 .u-image-6 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 30px;
}

.u-section-1 .u-image-7 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-29 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-6 {
  width: 1080px;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-cell-17 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 30px;
}

.u-section-1 .u-image-8 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-18 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 30px;
}

.u-section-1 .u-image-9 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-33 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-19 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 30px;
}

.u-section-1 .u-image-10 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-20 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 30px;
}

.u-section-1 .u-image-11 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-7 {
  width: 270px;
  margin: 17px auto 0 30px;
}

.u-section-1 .u-layout-cell-21 {
  min-height: 309px;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 30px;
}

.u-section-1 .u-image-12 {
  width: 188px;
  height: 248px;
  margin: 0 auto;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-39 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-8 {
  width: 1095px;
  margin: 32px auto 59px;
}

.u-section-1 .u-layout-cell-22 {
  min-height: 322px;
}

.u-section-1 .u-container-layout-22 {
  padding: 20px 5px;
}

.u-section-1 .u-text-40 {
  margin: 0 auto 0 21px;
}

.u-section-1 .u-text-41 {
  margin: 22px auto 0 19px;
}

.u-section-1 .u-layout-cell-23 {
  min-height: 322px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 0;
}

.u-section-1 .u-image-13 {
  height: 225px;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3{
  margin: 102px auto 0 30px !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2378px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-1 .u-image-2 {
    height: 138px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 412px;
  }

  .u-section-1 .u-image-3 {
    height: 138px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 186px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 42px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 186px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 186px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 44px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 10px;
    margin-left: 23px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 186px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 146px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 269px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 269px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 269px;
  }

  .u-section-1 .u-image-6 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 294px;
  }

  .u-section-1 .u-image-7 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 269px;
  }

  .u-section-1 .u-image-8 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 269px;
  }

  .u-section-1 .u-image-9 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 269px;
  }

  .u-section-1 .u-image-10 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 294px;
  }

  .u-section-1 .u-image-11 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-image-12 {
    width: 8px;
    height: 11px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 366px;
  }

  .u-section-1 .u-image-13 {
    height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 106px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 106px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 29px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 31px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 100px;
  }

  .u-section-1 .u-image-10 {
    width: 120px;
    height: 158px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 100px;
  }

  .u-section-1 .u-image-11 {
    width: 120px;
    height: 158px;
  }

  .u-section-1 .u-layout-cell-21 {
    min-height: 100px;
  }

  .u-section-1 .u-image-12 {
    width: 175px;
    height: 231px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 280px;
  }

  .u-section-1 .u-image-13 {
    height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2610px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    height: 159px;
  }

  .u-section-1 .u-image-3 {
    height: 159px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 420px;
  }

  .u-section-1 .u-image-13 {
    height: 222px;
  }
}

.u-section-1 .u-text-3[data-v-d757f1f2] {
  margin: 103px auto 0 30px;
}



@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2168px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 264px;
  }

  .u-section-1 .u-image-13 {
    height: 140px;
  }
}

@media ( max-width: 680px ) {

.blendedslider {
    padding-top: 24%;
}

.u-layout-row{
  height: 972px;
}

.u-section-1 .u-layout-cell-5 ,.u-section-1 .u-layout-cell-6, .u-section-1 .u-layout-cell-7 {
  height: 121px;
}

#aboutsectionpicture{
  height: 663px !important;
}

.u-section-1 .u-text-3{
  margin-top: 376px !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 46px 15px;
  margin-left: 0px;
}

.u-section-1 .u-text-4{
  margin-left: 13px;
}

.u-section-1 .u-container-layout-6 {
  height: 242px !important;
}

.u-section-1 .u-layout-cell-6 {
  height:175px !important;
}

.u-section-1 .u-icon-4 {
  margin-left: 122px;
}

.u-section-1 .u-layout-wrap-6 {
  margin-top: 85%;
}

.u-section-1 .u-layout-wrap-7{
  margin: 133px auto 0 31px;
}

#jamilsection{
  height: 320px;
}

#connecting_people{
  height: 132px;
}

#investing_people{
  min-height: 109px !important;
}

.lowersideabout{
  margin-top: -66% !important;
}

.u-section-1 .u-text-21 {
  margin: 27px auto 0 76px;
}

}

@media (max-width : 860px) and (min-width:680px) {

  .blendedslider {
    padding-top: 12%;
  }

  .u-section-1 .u-text-3 {
    margin: 267px auto 0 30px !important;
  }

  .u-section-1 .u-icon-3 {
    margin: -46px auto 0 0px;
  } 

  .u-section-1 .u-image-10, .u-section-1 .u-image-11 {
    width: 172px;
    height: 231px;
  }

  .u-section-1 .u-text-34 {
    font-weight: 700;
    margin: 11px 0;
  }

  .u-section-1 .u-text-36 {
    font-weight: 700;
    margin: 11px 0;
  } 
  
}