.aboutusbody{
    margin: 0;
    height: auto;
    min-height: 100%;
}
// .aboutusbody p{
//     font-size: 15px;
//     line-height: 150%;
// }

// .belowvision{
//     max-width: 95%;
//     margin-left: 2%;
// }
// .visiontext{
//     margin-left: 22px;
// }
.meetledersheading{
    margin-left: 56px;
}