.u-section-1 .u-sheet-1 {
  min-height: 2111px;
}

.u-section-1 .u-group-1 {
  min-height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1078px;
  height: 698px;
  margin: 7px auto 0 29px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1078px;
  margin: 15px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 14px;
}

.u-section-1 .u-image-2 {
  width: 212px;
  height: 164px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-group-2 {
  width: 212px;
  min-height: 33px;
  height: auto;
  margin: -1px auto 0 13px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 6px 15px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 259px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 27px;
}

.u-section-1 .u-image-3 {
  width: 212px;
  height: 164px;
  margin: 0 16px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 212px;
  min-height: 31px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  width: 166px;
  margin: 4px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 259px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 212px;
  height: 164px;
  margin: 0 13px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 212px;
  min-height: 33px;
  height: auto;
  margin: -2px 13px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 259px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 212px;
  height: 164px;
  margin: 0 13px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 212px;
  min-height: 33px;
  height: auto;
  margin: -2px 13px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 5px 0 0 15px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1023px;
  margin: 29px auto 35px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 728px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 13px 1px 0;
}

.u-section-1 .u-image-6 {
  width: 451px;
  height: 450px;
  margin: 30px 0 0 1px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 728px;
}

.u-section-1 .u-container-layout-11 {
  padding: 29px 30px;
}

.u-section-1 .u-text-9 {
  margin: 1px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 13px 1px 0;
}

.u-section-1 .u-image-7 {
  width: 451px;
  height: 450px;
  margin: 31px auto -1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2301px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 609px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-1 .u-image-2 {
    width: 208px;
    height: 160px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 208px;
    margin-top: 3px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-1 .u-image-3 {
    width: 181px;
    height: 140px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 208px;
    margin-top: 2px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 135px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 208px;
    margin-top: 2px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 135px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 208px;
    margin-top: 2px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 669px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 410px;
    height: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 669px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 466px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 153px;
    height: 118px;
  }

  .u-section-1 .u-group-2 {
    width: 153px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 126px;
    height: 97px;
  }

  .u-section-1 .u-group-3 {
    width: 153px;
  }

  .u-section-1 .u-text-4 {
    width: 126px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 120px;
    height: 93px;
  }

  .u-section-1 .u-group-4 {
    width: 153px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    width: 120px;
    height: 93px;
  }

  .u-section-1 .u-group-5 {
    width: 153px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-7 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2293px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 350px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 220px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }
}

@media (max-width:680px) {

  .u-section-1 .u-container-layout-2{
    padding-left: 91px;
    padding-right: 10px;
    text-align: center;
  }
  .u-section-1 .u-text-3{
    font-size: 0.875rem;
    text-align: center;
    margin: 6px 15px 0;
  }


  .u-section-1 .u-image-3{
    width: 150px !important;
    margin-right: 86px;
    height: 151px !important;
  }

  .u-section-1 .u-text-4{
    text-align: center;
    font-size: 0.875rem;
    width: 147px;
  }

  .u-section-1 .u-image-4{
    margin-right: 88px;
    width: 146px;
    height: 136px;
  }

  .u-section-1 .u-group-4{
    width: 146px;
    margin-top: -1px;
    margin-right: 88px;
    height: auto;
  }

  .u-section-1 .u-image-5 {
    width: 147px;
    height: 140px;
    margin-right: 88px;
  }

  .u-section-1 .u-group-5{
    width: 148px !important;
    margin-top: 2px;
    margin-right: 87px;
    height: auto;
  }

  .u-section-1 .u-group-5[data-v-6072cfac] {
    width: 148px !important;
    margin-top: 0px;
    text-align: center;
    margin-right: 87px;
    height: auto;
  }

  .u-section-1 .u-text-6[data-v-6072cfac] {
    font-size: 0.875rem;
    margin: 5px 0 0 5px;
  }

  .blendedslider {
    padding-top: 24%;
  }
}


@media (max-width:860px)  and (min-width:680px) {

  .u-section-1 .u-image-2 {
    width: 153px;
    height: 95px;
  }

  .u-section-1 .u-image-3, .u-section-1 .u-image-4, .u-section-1 .u-image-5{
    width: 152px;
    height: 97px;
  }

  .u-section-1 .u-container-layout-3, .u-section-1 .u-container-layout-7, .u-section-1 .u-container-layout-9{
    padding-left: 0px;
    padding-right: 0px;
  }
  
}